# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment folders
venv/
env/
Include/
Lib/
Scripts/
pyvenv.cfg
share

# System files
.DS_Store
Thumbs.db

# Logs
*.log